body{
	background:#000;
}
	.menu{font-size:19px;}
	.menuFlash{
		color:#fff;
		float:left;
		clear:both;
		text-decoration:none;
		font-family:verdana;
		font-size:19px;
		padding-bottom:6px;
		outline:none;
		line-height:19px;
	}
	
	.menuFlash a{font-size:19px;}